* {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

body {
    font-family: "Inter", sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 280px;
    height: 500px;
    background-color: #1f1f1f;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.photo-container {
    width: 80px;
    border-radius: 50%;

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}

.name-container {
    line-height: 3.4rem;
}

.name {
    font-size: 2.4rem;
    color: #f0f0f0;
    text-align: center;
}

.location {
    font-size: 1.3rem;
    color: #b3cf55;
    text-align: center;
}

.about-me {
    font-size: 1.3rem;
    font-weight: 500;
    color: #f0f0f0;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
        list-style: none;
        width: 254px;
        text-align: center;
        padding: 14px;
        background-color: #333333;
        border-radius: 8px;

        a {
            font-size: 1.3rem;
            font-weight: 600;
            text-decoration: none;
            color: #f0f0f0;
        }
    }
}

.attribution {
    color: white;
    position: absolute;
    bottom: 10px;
    left: calc((100% - 277.36px)/2);

    a {
        color: #b3cf55;
    }
}
